<!DOCTYPE html>
<html>

    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">

    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Page was created by Soumik Chowdhury. It uses Mapbox and Darksky API to forecast weather.</p>
            <img class="portrait" src="/img/image_01.jpg">
        </div>

        {{>footer}}

    </body>


</html>